@function str-split($string, $separator) {
	$i: str-index($string, $separator);
	@if $i != null {
		@return join(
			str-slice($string, 1, $i - 1),
			str-split(str-slice($string, $i + str-length($separator)), $separator)
		);
	}
	@return $string;
}

//From https://kittygiraudel.com/2013/08/08/advanced-sass-list-functions/
@function list-slice($list, $start: 1, $end: length($list)) {
	$result: ();
	@if ($start > length($list)) {
		@return ();
	}
	$end: min($end, length($list));

	@for $i from $start through $end {
		$result: join($result, nth($list, $i));
	}

	@return $result;
}

@function list-to-string($list, $separator: ',') {
	$result: '';
	@each $element in $list {
		$result: if($result == '', $element, '#{$result}#{$separator}#{$element}');
	}
	@return $result;
}
